.topNav {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px 120px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 500;

  .divForLogo {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .logo {
      width: 33px;
    }

    .logoName {
      font-size: 18px;
      background: linear-gradient(90deg, #0d47a1, #1976d2, #42a5f5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }

  .containerForNavAndBtn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 80px;

    .nav {
      display: flex;
      column-gap: 25px;

      a {
        color: #222222;
        text-decoration: none;
        transition: 125ms ease;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .btnContactMe {
      padding: 10px 15px;
      width: 180px;
      border-radius: 18px;
      font-size: 13px;
      transition: 125ms ease;
      border: 1px solid #222222;
      color: #222222;
      background-color: transparent;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
