.aboutMe {
  margin: 50px 0 80px 0;

  .wrapper {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      width: 50%;

      .contentBlock {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .title {
          font-size: 34px;
          font-family: "Lora", serif;
          color: #2e2e2e;
        }

        .content {
          font-size: 16px;
          font-family: "Lora", serif;

          .list {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            padding: 20px 0;

            .subtitle {
              font-family: "Lora", serif;
              margin: 0px 0 5px 0;
              font-size: 16px;
            }

            .row {
              display: flex;
              align-items: center;
              column-gap: 10px;

              .icCheck {
                font-size: 14px;
                color: #6c8851;
              }

              .liStyle {
                font-family: "Lora", serif;
              }
            }
          }
        }
      }

      .statistics {
        display: flex;
        padding-top: 33px;
        width: 100%;
        justify-content: space-between;

        .blockOfStatistic {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: flex-start;

          .number {
            font-size: 40px;
            font-family: "Lora", serif;
            color: #2e2e2e;
          }

          .description {
            font-size: 17px;
            font-family: "Lora", serif;
            color: #2e2e2e;
          }
        }
      }
    }

    .right {
      width: 50%;
      padding-left: 80px;

      .imgStyle {
        width: 450px;
        border-radius: 40px;
        backdrop-filter: drop-shadow(0px 0px 5px #656565);
        position: relative;
        bottom: 40px;
      }
    }
  }
}

.gradientText {
  font-weight: bold;
  background: linear-gradient(
                  45deg,
                  #FFD700, // яскравий класичний золотий
                  #FFC300, // теплий насичений
                  #FFB000, // глибокий золотий
                  #E6A700, // темніший відтінок для блиску
                  #FFD633 // світлий відтінок для сяйва
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: "Lora", serif;

}
