.stepByStepSupport {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 80px 0;

  .wrapper {
    display: flex;
    flex-direction: column;

    .topContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin-bottom: 18px;
        font-size: 36px;
        font-family: "Lora", serif;
      }

      .content {
        width: 550px;
        text-align: center;
        font-size: 17px;
        font-family: "Lora", serif;
      }
    }
  }

  .bottomContainer {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }
}
