.mainWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .topConsultation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .title {
        font-family: "Lora", serif;
        font-size: 34px;
        color: #2e2e2e;
      }

      .description {
        font-size: 16px;
        font-family: "Lora", serif;
        color: #222222;
      }
    }

    .btnConsulting {
      background-color: transparent;
      border: 1px solid #222222;
      width: 210px;
      height: 45px;
      font-size: 16px;
      border-radius: 25px;
      transition: 250ms ease;
      font-family: "Lora", serif;

      &:hover {
        background-color: #cfcfcf;
        border: none;
        cursor: pointer;
      }
    }
  }

  .containerForServices {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 25px;
    column-gap: 8px;

    .service {
      width: calc(33% - 4px);
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 0 25px 0 25px;
      position: relative;

      .topBlock {
        display: flex;
        align-items: center;
        column-gap: 8px;
        transition: 125ms ease;

        .icArrow {
          font-size: 15px;
          color: #bfbfbc;
          position: absolute;
          left: 0px;
          top: 8px;
        }

        .title {
          font-family: "Lora", serif;
          font-size: 20px;
          color: #222222;
          transition: 125ms ease;
        }

        &:hover {
          cursor: pointer;

          .title {
            color: #39677e;
          }
        }
      }

      .description {
        font-family: "Lora", serif;
        font-size: 16px;
        color: #222222;
      }
    }
  }
}
